doctype html
html
  head
    title= `${title} | PL-A`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/dist/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block scripts
      script(src="/dist/App.bundle.js")
      script(src="/js/lib/jquery.js")

  body.bootstrap-override.container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.home-header(href='/', style="padding-left: 15px;") PL-A
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/search') Search
            li
              a(href='/popular') Popular
            li
              a(href='/addPlaylist') Create A New Playlist
            
          ul.nav.navbar-nav.navbar-right

            li.dropdown
              if user
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | #{user.name}
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/account') Account
                    li
                      a(href='/addPlaylist') Create A New Playlist
                    li
                      a(href='/myPlaylists') My Playlists
                    li
                      a(href='/api') API
                    li
                      a(href='/reddit') Reddit
                    li
                      a(href='/logout') Log Out
              else 
                li
                  a(href="/login" style="text-decoration: none; ") Log In Now








    .main_content
      block content

  
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
